@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full overflow-hidden;
}

h1 {
	@apply text-2xl dark:text-white;
}

.input {
	@apply dark:bg-slate-600 dark:text-white border border-slate-400 focus:ring-primary-500 dark:focus:ring-primary-600 focus:border-primary-500 p-1 leading-none;
}

@layer base {
	:root {
		--color-primary-50: 243 246 250;
		--color-primary-100: 232 241 247;
		--color-primary-200: 214 227 239;
		--color-primary-300: 188 208 229;
		--color-primary-400: 161 183 216;
		--color-primary-500: 145 166 207;
		--color-primary-600: 112 132 187;
		--color-primary-700: 95 112 163;
		--color-primary-800: 78 91 133;
		--color-primary-900: 68 79 107;
		--color-primary-950: 40 46 62;
	}
}

@layer utilities {
	.stable-scroll {
		scrollbar-gutter: stable;
	}
}
